<div class="container container-custom">
  <h1 class="oompr-title">
    <%= link_to 'oompr', root_path, class: 'oompr-title-link' %>
  </h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="user-info">
        <h2 class="user-name"><%= current_user.name %></h2>
        <h3 class="saved-listings">Saved Listings</h3>
      </div>
      <div class="listings-container">
        <% if @favorites.empty? %>
          <div class="no-favorites">
            <p>You have no saved listings.</p>
          </div>
        <% else %>
          <% @favorites.each do |favorite| %>
            <% cache ["favorite", favorite] do %>
              <div class="listing-item listing-item-<%= favorite.id %>">
                <div class="card card-custom mb-0"> <!-- Remove bottom margin -->
                  <%= link_to listing_path(favorite.listing_id), class: "stretched-link text-decoration-none" do %>
                    <div class="listing-content d-flex align-items-start">
                      <div class="image-container">
                        <%= image_tag favorite.picture, class: 'img-large', alt: 'Listing Image' %>
                      </div>
                      <div class="text-info ml-3">
                        <div class="price">
                          <h5 class="card-title"><%= number_to_currency(favorite.price) %></h5>
                        </div>
                        <div class="listing-info">
                          <p class="card-text"><%= favorite.address %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <%= form_with url: favorite_path(favorite), method: :delete, local: true, class: 'delete-form' do |form| %>
                  <%= hidden_field_tag :fav_id, favorite.id %> 
                  <%= submit_tag 'Remove', class: 'btn btn-danger btn-block' %>
                <% end %>
              </div>
            <% end %>
            <br><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
