<div class="container container-custom">
  <h1 class="oompr-title"><%= link_to 'oompr', root_path, class: 'oompr-title-link' %></h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="user-info">
        <h2 class="user-name"><%= current_user.name %></h2>
        <h3 class="saved-listings">Saved Listings</h3>
      </div>
      <div class="listings-container">
        <% if @favorites.empty? %>
          <div class="no-favorites">
            <p>You have no saved listings.</p>
          </div>
        <% else %>
          <% @favorites.each do |favorite| %>
            <% cache ["favorite", favorite] do %>
              <div class="listing-item listing-item-<%= favorite.id %>">
                <div class="card card-custom mb-4">
                  <%= link_to listing_path(favorite.id), class: "stretched-link text-decoration-none" do %>
                    <div id="carousel<%= favorite.id %>" class="carousel slide" data-interval="false">
                      <div class="carousel-inner">
                        <div class="photos">
                          <% favorite.photos.each_with_index do |photo_url, index| %>
                            <div class="carousel-item <%= 'active' if index == 0 %>">
                              <%= image_tag photo_url, class: 'd-block w-100', alt: 'Listing Image' %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carousel<%= favorite.id %>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carousel<%= favorite.id %>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    <div class="card-body">
                      <div class="price">
                        <h5 class="card-title"><%= number_to_currency(favorite.price) %></h5>
                      </div>
                      <div class="listing-info">
                        <p class="card-text"><%= favorite.address %></p>
                        <p class="card-text">
                          <i class="fas fa-bed"></i> <%= favorite.bedrooms %>
                          <i class="fas fa-bath"></i> <%= favorite.bathrooms %>
                          <i class="fas fa-expand-arrows-alt"></i> <%= favorite.sqft %> ft²
                        </p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>